:root {
    --main-color: #2c4c9a; 
    --second-color: #5771b5;
  }

ons-tabbar{
    margin-bottom:15px;
}
body{
    background: #fafafa;
}

.calendar{
    width: 50px;
    position: absolute;
}

.actright{
    position: relative;
    margin-left: 90px !important;
    
}

.title{
    margin-top: -70px !important;
}

.content{
    margin-top: 0px !important;
}

#loading{
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: #e3e3e3;
}
.center {
    margin: auto;
}

#loading img{
    position: absolute;
    width: 60%;
    left: 20%;
    top: 10%;
}

.act{
    position: relative;
    min-height: 7em;
}

.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid var(--main-color);
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    position: absolute;
    top: 55%;
    left: 40%;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


div.calendarDate {
    font-size:0.7em;
    /*change calendarIcon size */
    display: block;
    position: relative;
    width: 7em;
    height: 7em;
    background-color: #fff;
    border-radius: 0.7em;
    -moz-border-radius: 0.7em;
    border: 1px solid #f2f2f0;
    overflow: hidden;
}
div.calendarDate * {
    display: block;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}
div.calendarDate strong {
    position: absolute;
    top: 0;
    padding: 0.4em 0;
    color: #fff;
    background-color: var(--main-color);
    
    box-shadow: 0 2px 0 var(--second-color);
}
div.calendarDate em {
    position: absolute;
    bottom: 0em;
    color: #fff;
    padding-top:.2em;
    height: 1.6em;
    background-color: var(--main-color);
}
div.calendarDate span {
    font-size: 2.8em;
    letter-spacing: -0.05em;
    padding-top: 0.7em;
    color: #2f2f2f;
}