.add-button {
  position: absolute;
  top: 1px;
  left: 1px;
}

.red{
  background: #ffdbdb !important;
}

.green{
  background: #e0ffdb !important;
}

.yellow{
background: #fffddb !important;
}

.blue{
background: #dbe8ff !important; 
}


.logo{  
  width: 70%;
  padding-left: 15%;
  padding-top: 10px;
}

.homescreen_banner h1{
  font-size: 30px;
  font-weight: 80;
}
.homescreen_banner h2{
  font-size: 25px;
  font-weight: 80;
}
.homescreen_banner p{
  padding: 20px;
  position: fixed;
  bottom: -10px;
  left: 5%;
  width: 80%;
}
.homescreen_banner{
  color: black !important;
  font-family: 'Roboto', sans-serif;
  padding: 5px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgb(240, 240, 240);
  color: black;
  text-align: center;
}


#shareicon{
  width: 20px !important;
  margin: 5px;
  margin-bottom: -3px;
}

#logo_banner{
  height: 25%;  
}

:root {
    --main-color: #2b2b2b; 
    --second-color: #5771b5;
  }

ons-tabbar{
    margin-bottom:25px;
}
body{
    background: #fafafa;
}

.btn{
  background: #426db3;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
.btn:hover{
  background: #7d9dd1;
}

.calendar{
    width: 50px;
    position: absolute;
}

.actright{
    position: relative;
    margin-left: 90px !important;
    
}

.detailcalender{
  float: right !important;
}

.churchright{
    position: relative;
    margin-left: 80px !important;
    margin-top: -20px;
}

.churchlogo{
    max-width: 70px;
}

.act .title{
    font-size: 16px !important;
    margin-top: -70px !important;
    white-space: nowrap; 
    text-overflow: ellipsis;
    overflow: hidden;
}

.church .title{
    margin-top: -75px !important;
}

.titlenormal{
    margin: 0 !important;
}

 .content{
    margin-top: 0px !important;
}

.church{
    min-height: 5.5em;
}

#loading{
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: #e3e3e3;
}
.center {
    margin: auto;
}

#loading img{
    position: absolute;
    width: 60%;
    left: 20%;
    top: 10%;
}

.act{
    position: relative;
    min-height: 7em;
}

.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid var(--main-color);
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    position: absolute;
    top: 55%;
    left: 40%;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


div.calendarDate {
    font-size:0.7em;
    /*change calendarIcon size */
    display: block;
    position: relative;
    width: 6em;
    height: 6em;
    background-color: #fff;
    border-radius: 0.7em;
    -moz-border-radius: 0.7em;
    overflow: hidden;
    margin-top: 5px;
}
div.calendarDate * {
    display: block;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}
div.calendarDate strong {
    position: absolute;
    top: 0;
    padding: 0.4em 0;
    color: #fff;
    background-color: var(--main-color);
    
}
div.calendarDate em {
    position: absolute;
    bottom: 0em;
    color: #fff;
    padding-top:.2em;
    height: 1.6em;
    background-color: var(--main-color);
}
div.calendarDate span {
    font-size: 2em;
    letter-spacing: -0.05em;
    padding-top: 0.9em;
    color: #2f2f2f;
}

.icon-revive .path1:before {
    content: "\e900";
    color: #c9c9c9;
  }
  .icon-revive .path2:before {
    content: "\e901";
    color: #8f8f8f;
    margin-left: -1.064453125em;
  }
  .icon-revive .path3:before {
    content: "\e902";
    color: #707070;
    margin-left: -1.064453125em;
  }
  .icon-revive .path4:before {
    content: "\e903";
    color: #c9c9c9;
    margin-left: -1.064453125em;
  }
  .icon-revive .path5:before {
    content: "\e904";
    color: #c9c9c9;
    margin-left: -1.064453125em;
  }
  .icon-revive .path6:before {
    content: "\e905";
    color: #8f8f8f;
    margin-left: -1.064453125em;
  }
  .icon-revive .path7:before {
    content: "\e906";
    color: #c9c9c9;
    margin-left: -1.064453125em;
  }

  .hidden{
    display: none !important;
  }

  .selectors{
    margin-top: 10px;
    width: 98%;
    height: 80px;
    display: flex;
  }

  .catselector{
    flex: 1;
    margin-left: 7px;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 700;
    display: inline !important;
  }

  .sel1{
    background-image: url('../images/outreach.png');  
    background-size: cover;
}

  .sel2{
    background-image: url('../images/sos.png');
    background-size: cover;
  }

  .sel3{
    background-image: url('../images/event.png');
    background-size: cover;
  }

  .sel4{
    background-image: url('../images/equip.png');
    background-size: cover;
  }

  .catselector p{
    margin-top: 30px;
  }

  /* PROGRESSBAR */
  .progress {
    margin:0px auto;
    padding:0;
    width:100%;
    height:30px;
    overflow:hidden;
    background:#e5e5e5;
    border-radius:6px;
  }
  
  .bar {
    position:relative;
    float:left;
    min-width:1%;
    height:100%;
    background:#073c91;
  }
  
  .percent {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    margin:0;
    font-size:12px;
    color:white;
  }



  /* ----------------- */

  .minimizeContent{
    max-height: 40px !important;
    text-overflow: ellipsis;
    white-space: wrap;
    overflow: hidden;

  }

.version{
  padding: 15px;
  opacity: 0.7;
  text-align: center;
}

  /* Custom icon */
  .my-custom-icon {
    font-size: 40px;
    height: 1em;
    background: url('images/iconbird.svg') center no-repeat;
  }
  
  
  @media only screen and (max-width: 300px) {
    .my-custom-icon {
      font-size: 30px;
      background-image: url('images/iconbird.svg');
    }
  }

